<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Treehl的博客</title>
</head>
<body>
<h1><a href="/">Treehl的博客</a></h1>
<ul>
    <li>
        {% for cate in nav_cates %}
            <a href="{% url 'category' cate.id %}">{{ cate.name }}</a>
        {% endfor %}
    </li>
</ul>
<hr/>
<ul>
    {% if posts %}
        {% for post in posts %}
        title: <a href="{% url 'detail' post.id %}">{{ post.title }}</a><br/>
        desc: {{ post.desc }}
        <hr/>
        {% endfor %}

        {% if posts.has_previous %}<a href="?page={{ posts.number|add:'-1' }}">上一页</a>
        {% endif %}
        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        {% if posts.has_next %}<a href="?page={{ posts.number|add:'1' }}">下一页</a>
        {% endif %}
    {% else %}
        Empty!
    {% endif %}
</ul>
<hr/>
<ul>
    {% for sidebar in sidebars %}
    <h4>{{ sidebar.title }}</h4>
    <div>
        {% if sidebar.display_type == 1 %}
        {% autoescape on %}
            {{ sidebar.content }}
        {% endautoescape %}
        {% elif sidebar.display_type == 2 %}
        <ul>
            {% for post in recently_posts %}
                <li>
                    {{ post.title }}
                </li>
            {% endfor %}
        </ul>
        {% elif sidebar.display_type == 4%}
        <ul>
            {% for comment in recently_comments %}
                <li>
                    {{ comment.content }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
</ul>
<hr/>
<ul>
    <li>
        {% for cate in cates %}
            <a href="{% url 'category' cate.id %}">{{ cate.name }}</a>
        {% endfor %}
    </li>
</ul>
</body>
</html>
