{% extends "./base.html" %}

{% block content %}
{% if query %}
    您搜索的 {{ query }}  结果如下：
{% endif %}
<hr/>

{% if posts %}
    {% for post in posts %}
        <div class="post-element">
            <h3 class="post-element-title">
                <a href="{% url 'detail' post.id %}">{{ post.title }}</a>
            </h3>
          <div>
              <nav class="nav">
                  分类:<a class="nav-link post-element-nav" href="{% url 'category' post.category_id %}">{{ post.category }}</a>
                  {% for tg in post.tag.all %}
                  标签:<a class="nav-link post-element-nav" href="{% url 'tag' tg.id %}">
                  {{ tg.name }}
                  {% endfor %}</a>
                  作者:<a class="nav-link post-element-nav" href="{% url 'author' post.author_id %}">{{ post.author }}</a>
                  创建时间:<a class="nav-link post-element-nav" href="#">{{ post.created_time }}</a>
              </nav>
          </div>
      <div>
      </div>
        <p>> {{ post.desc }}</p>
      </div>
        {% endfor %}
          {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}
      {% else %}
        Empty!
      {% endif %}

{% endblock %}
